@charset "utf-8";
/* Element Reset */
#couponBox,
#couponBox table,
#couponBox input,
#couponBox textarea,
#couponBox select,
#couponBox button{font-family:Tahoma,Geneva,sans-serif;font-size:12px;color:#333}
#couponBox button,
#couponBox input[type=submit],
#couponBox input[type=reset],
#couponBox input[type=button]{cursor:pointer;overflow:visible}
#couponBox img{border:0}
#couponBox p{line-height:1.5}
/* Heading */
#couponBox .h1, 
#couponBox .h2, 
#couponBox .h3, 
#couponBox .h4{position:relative;border-bottom-style:solid;border-bottom-color:#ccc;zoom:1}
#couponBox .h1{border-bottom-width:4px;font-size:24px}
#couponBox .h2{border-bottom-width:3px;font-size:20px}
#couponBox .h3{border-bottom-width:2px;font-size:16px}
#couponBox .h4{border-bottom-width:1px;font-size:12px}
/* Lined Tab Navigation */
#couponBox .nav{padding:0;margin:1em 0}
#couponBox .nav ul{position:relative;margin:0;padding:0;list-style:none;border-bottom:1px solid #ccc;zoom:1}
#couponBox .nav ul:after{content:"";display:block;clear:both}
#couponBox .nav li{float:left;margin-bottom:-1px}
#couponBox .nav li a{position:relative;float:left;text-decoration:none;border:1px solid #eee;border-bottom-color:#ccc;background:#fafafa;color:#333}
#couponBox .nav li a span{display:inline-block;height:14px;padding:6px 15px 6px 15px;letter-spacing:-1px;cursor:pointer}
#couponBox .nav li.active a{border:1px solid #ccc;border-bottom:1px solid #fff;margin-top:-1px;background:transparent}
#couponBox .nav li.active a span{padding-top:7px;font-weight:bold}
/* Form */
#couponBox .form{margin:1em 0;padding:0}
#couponBox .form fieldset{margin:0 0 2em 0;padding:0;border:0}
#couponBox .form em{font-style:normal;color:#e00}
#couponBox .form label{margin-right:1em;line-height:1;vertical-align:middle}
#couponBox .form input[type=checkbox]+label,
#couponBox .form input[type=radio]+label,
#couponBox .form input[type=file]{cursor:pointer}
#couponBox .form ul{position:relative;margin:0;padding:0;list-style:none;border-top:2px solid #ccc;border-bottom:1px solid #ccc;zoom:1}
#couponBox .form li{list-style:none;border:1px solid #ddd;border-left:0;border-right:0;margin:-1px 0;padding:8px 0;vertical-align:top;zoom:1}
#couponBox .form li:first-child{border-top:0}
#couponBox .form li>label:first-child{display:block;font-weight:bold}
#couponBox .form li label em{font-weight:normal}
#couponBox .form label.overlap{position:absolute;color:#aaa}
#couponBox .form input[type=text],
#couponBox .form input[type=password],
#couponBox .form input[type=file],
#couponBox .form textarea{position:relative;width:280px;margin:2px 0;border:1px solid #b7b7b7;border-right-color:#e1e1e1;border-bottom-color:#e1e1e1;background:transparent}
#couponBox .form input[type=text],
#couponBox .form input[type=password],
#couponBox .form input[type=file]{height:22px;line-height:22px;vertical-align:middle;padding:0 4px}
#couponBox .form input[type=text].loading,
#couponBox .form input.loading[type=password]{padding-right:24px;width:260px;background:transparent url(../img/preLoader16.gif) no-repeat 265px center}
#couponBox .form input[type=checkbox],
#couponBox .form input[type=radio]{margin:0;padding:0;width:13px;height:13px;vertical-align:middle}
#couponBox .form input[type=text][disabled=disabled],
#couponBox .form input[type=password][disabled=disabled],
#couponBox .form input[type=checkbox][disabled=disabled],
#couponBox .form input[type=radio][disabled=disabled],
#couponBox .form input[type=file][disabled=disabled],
#couponBox .form textarea[disabled=disabled],
#couponBox .form select[disabled=disabled]{background:#ddd !important;text-shadow:1px 1px 0 #fff}
#couponBox .form textarea{padding:3px 4px;vertical-align:top}
#couponBox .form span.desc, 
#couponBox .form em.desc{line-height:22px;vertical-align:middle;margin:0 10px}
#couponBox .form p.desc{margin:.25em 0;line-height:1.4}
#couponBox .form .q{font-weight:bold;margin:0 0 5px 0}
#couponBox .form .a{margin:0 0 5px 0}
#couponBox .form .tgForm{margin-right:1em}
#couponBox .form .h1 + ul,
#couponBox .form .h2 + ul,
#couponBox .form .h3 + ul,
#couponBox .form .h4 + ul{border-top:0}
/* Table */
#couponBox .table{margin:1em 0}
#couponBox .table table{width:100%;border:0;border-collapse:collapse;border-top:2px solid #ccc}
#couponBox .table caption{font-weight:bold;text-align:left;line-height:22px;padding:5px 0}
#couponBox .table caption:after{content:"";display:block;clear:both}
#couponBox .table caption a{font-weight:normal}
#couponBox .table caption em{float:right;margin-left:1em}
#couponBox .table caption strong{color:#e00}
#couponBox .table caption .side{float:right;font-weight:normal;margin-left:1em}
#couponBox .table th,
#couponBox .table td{border:0;padding:8px;vertical-align:top;text-align:left;border-bottom:1px solid #ddd;white-space:nowrap}
#couponBox .table th{background:#f8f8f8}
#couponBox .table thead th{border-bottom:1px solid #999}
#couponBox .table tfoot td{font-weight:bold;background:#f8f8f8}
#couponBox .table.even tbody tr:nth-of-type(even) td{background-color:#fafafa}
#couponBox .table td>input[type=text]{margin:-1px 0 -3px 0 !important;vertical-align:middle}
#couponBox .table img{vertical-align:middle}
#couponBox .table em{font-style:normal;font-weight:normal;color:#e00}
#couponBox .table .title,
#couponBox .table .text{white-space:normal}
/* Pagination */
#couponBox .pagination{margin:1em 0;text-align:center;line-height:normal}
#couponBox .pagination *{vertical-align:middle}
#couponBox .pagination a,
#couponBox .pagination strong{position:relative;display:inline-block;padding:2px 4px;font-weight:bold;text-decoration:none;line-height:normal;color:#333 !important;vertical-align:middle}
#couponBox .pagination a:hover,
#couponBox .pagination a:active,
#couponBox .pagination a:focus{border:1px solid #ddd;margin:0 -1px}
#couponBox .pagination strong{color:#e00 !important;font-size:20px}
#couponBox .pagination .direction{font-weight:normal;white-space:nowrap}
#couponBox .pagination .direction:hover,
#couponBox .pagination .direction:active,
#couponBox .pagination .direction:focus{border:0;margin:0;text-decoration:underline}
#couponBox .pagination input{width:30px;text-align:center}
#couponBox .pagination button{overflow:visible}
/* Text Button */
#couponBox input.text, 
#couponBox button.text{border:0;overflow:visible;padding:0;margin:0 4px 0 0;color:#33a;background:none;text-decoration:underline}