input,textarea{outline:none}
.sampleCode{font-size:9pt;}
.code input{width:100px!important}

.coupon_saimple textarea{width:350px!important;height:45px!important;padding:3px!important;overflow:hidden}